/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	margin:0;
	padding:0;
	background: url(../images/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
	 font-family: 'Roboto', sans-serif;
 }
h1,h2,h3,h4,h5,h6{
	margin:0;
font-family: 'Playfair Display SC', serif;	
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
p,ul,ol{
	font-size:14px;
}

input[type="submit"],a,.agileinfo_social_icons li{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
 /*--timer--*/
.banner-right {
    text-align: center;
    
    padding: 3em 0 2em;
}
.banner-right-info p{
    color: #224547;
    font-size: 1.2em;
    margin: 0 auto 2.3em;
    font-weight: 100;
    width: 60%;
}
.agileits-timer{
    margin: 0 auto;
    box-sizing: border-box;
    width: 70%;
}
.link {
	font-size: 2em;
    display: line boxes;
    vertical-align: top;
    color: #fff;
	text-align: center
   
    font-weight: 700;
}
.link:hover{
	text-decoration:underline
}
.text {
    font-size: .9em;
    color: #fff;
    margin-top: 0.5em;
    text-align: center;
   
    letter-spacing: 2px;
}
.clock .column {
    padding: 48px 0;
    float: left;
    margin: 0 46px;
    width: 16%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.column.days {
	background-color: #ff931999;
	width: 80%;
	height: 80%;

}
.days {
    display: none;
}
/* --//timer-- */








/*-- //footer --*/
.main{
	padding:6em 0 2em;
}
.main h1{
	text-align: center;
    color: #224547;
    font-size:3.5em;
    margin-bottom: 0em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
	
}

/*-- start-responsive-design --*/



@media (max-width: 1440px){
.main {
    padding: 9.6em 0 6em;
}
.banner-right-info p {
    width: 100%;
}
.clock .column {
    margin: 0 30px;
    width: 18%;
}
}
@media (max-width: 1366px){
.main {
    padding: 4.4em 0 3em;
}
.clock .column {
    padding: 46px 28px;
}
}
@media (max-width: 1280px){
.main {
    padding: 6em 0 3.4em;
}
.clock .column {
    padding: 39px 0;
    margin: 0 27px;
}
}
@media (max-width: 1080px){
.main h1 {
	font-size: 2.7em;
}
.clock .column {
    padding: 27px 0;
    margin: 0 22px;
}
/*-- w3layouts --*/
}
@media (max-width: 1024px){
	.banner-right {
    padding: 2.4em 0 2em;
}
.main {
    padding: 3em 0 1.4em;
}
.clock .column {
    padding: 27px 0;
    margin: 0 21px;
}
}
@media (max-width: 991px){
	.main {
    padding: 5em 0 2.8em;
}
.clock .column {
    padding: 23px 0;
    margin: 0 20px;
    width: 18%;
}
.newsletter input[type="text"] {
    width: 50%;
}
}
@media (max-width: 800px){
	.main h1 {
		font-size: 2.5em;
	}
	.main {
		padding: 3em 0;
	}
	.agileits-timer {
    width: 85%;
}
.banner-right-info p {
    width: 85%;
    line-height: 1.7em;
}
}
@media (max-width: 768px){
.banner-right-info p {
    width: 80%;
}

.clock .column {
    padding: 20px 0;
    margin: 0 19px;
    width: 18%;
}
}

@media (max-width: 667px){
	.main h1 {
		font-size: 2.3em;
	}
	.agileits-timer {
    width: 100%;
}
}
@media (max-width: 640px){
	.main h1 {
    font-size: 2em;
}
.banner-right-info p {
    margin: 0 auto 1.5em;
	color:#224547;
}
.clock .column {
    padding: 20px 0;
    margin: 0 17px;
    width: 18%;
}
.timer {
    font-size: 2.5em;
}
}


@media (max-width:480px){
.main h1 {
    line-height: 1.5em;
}
.banner-right-info p {
    width: 94%;
}
.agileits-timer {
    width: 90%;
}
.newsletter input[type="email"] {
    width: 50%;
}
.main h1 {
    margin-bottom: 0;
}
.newsletter h2 {
    font-size: 1.2em;
}
.banner-right {
    padding: 1em 0 1em;
}
.clock .column {
    padding: 17px 0;
    margin: 0 3px;
    width: 22%;
}
.timer {
    font-size: 2em;
}
.agileits-timer {
    width: 80%;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook, .agileinfo-social-grids ul li a i.fa.fa-twitter, .agileinfo-social-grids ul li a i.fa.fa-rss, .agileinfo-social-grids ul li a i.fa.fa-vk {
    width: 40px;
    height: 40px;
    margin: 6px;
    font-size: 20px;
    line-height: 42px;
}
.w3layouts_copy_right p {
    font-size: 15px;
}
}
@media (max-width:414px){
	.main h1 {
    font-size: 1.7em;
}
.main {
    padding: 2.7em 0;
}
.text {
    font-size: .8em;
}
.clock .column {
    padding: 36px;
    margin: 0 2px;
    width: 66%;
}

}

.tableauPlaceholder{
	margin:30px auto;


}
.clock{
	background-color:#e38f42;
	width:90%;	
	height:80%;
	
}